.nav__header {
  background-color: white;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 25pxk;
  text-align: center;
  margin-bottom: 10px;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav__link {
  opacity: 0.7;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888f;
  display: inline-block;
}
